<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <div id="app">
            <div class="px-md-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <button class="btn btn-transparent color-extras-gray"> <i
                                class="fa-solid fa-angle-left color-dark-blue fa-lg me-3"></i> <span>Julio 2022</span>
                        </button>
                    </div>
                    <div>
                        <h4 class="text-center mt-3 color-dark-blue"> <b> Agosto 2022 </b> </h4>
                    </div>
                    <div>
                        <button class="btn btn-transparent color-extras-gray"> <span>Septiembre 2022</span> <i
                                class="fa-solid fa-angle-right color-dark-blue fa-lg ms-3"></i> </button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-blue-reserva me-5"><span class="">Nueva Reserva</span> <i class="fa-solid fa-circle-arrow-right"></i> </button>
            </div>

            <div class="row my-3 px-2" style="max-width: 100%;">
                <div class="col-12 col-lg-7 col-xl-7">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-transparent">
                            <i class="fa-solid fa-square color-blue"></i>
                            <span class="color-dark-extras">Fecha Reservada</span>
                        </button>
                        <button class="btn btn-transparent color-light-blue">
                            <i class="fa-solid fa-square"></i>
                            <span class="color-dark-extras">Fecha Bloqueada Parcialmente</span></button>
                        <button class="btn btn-transparent color-dark-red">
                            <i class="fa-solid fa-triangle-exclamation me-2"></i>
                            <span>No hay suficiente personal para cubrir todos los turnos del día</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-1 col-xl-2"></div>
                <div class="col-12 col-lg-4 col-xl-3">
                    <div class="d-flex justify-content-between">
                        <select class="select-gray form-select me-3" name="" id="">
                            <option value="">Ver todos los barcos</option>
                            <option v-for="(i, index) in botes" :key="index" :value="i.id"> {{ i.nombre }} </option>
                        </select>
                        <button class="btn bg-dark-blue color-white w-3rem me-3">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <button class="btn bg-dark-blue color-white w-3rem">
                            <i class="fa-solid fa-calendar-days"></i>
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="container-fluid table-responsive">
                <table class="table table-td-0 table-bordered equals">
                    <thead class="bg-dark-blue color-white">
                        <tr>
                            <th v-for="(i, index) in days" :key="index" > {{i}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="(i, index) in days" :key="index">
                                <!-- <div class="d-flex flex-column" v-if="1 == 0"> -->
                                <div class="d-flex flex-column" v-if="start_day(index)">
                                    <div class="d-flex">
                                        <button class="btn-day">{{index}}</button>
                                        <button class="btn btn-transparent color-dark-red">
                                            <i class="fa-solid fa-triangle-exclamation ps-2"></i>
                                        </button>
                                    </div>
                                    <div class="d-flex justify-content-between in_progress ps-2">
                                        <div>
                                            <button class="btn btn-transparent"> <i class="fa-solid fa-square fa-xs"></i> </button>
                                            <strong> 10:00 - 14:00 </strong>
                                            <span>Namaré</span>
                                        </div>
                                        <button class="btn btn-transparent color-dark-blue button-ellipsis"><i class="fa-solid fa-ellipsis button-ellipsis"></i></button>
                                    </div>
                                    <hr class="my-1 mx-2" style="opacity: .1;">
                                    <div class="d-flex justify-content-between not_in_progress ps-2">
                                        <div>
                                            <button class="btn btn-transparent"> <i class="fa-solid fa-square fa-xs"></i> </button>
                                            <strong> 10:00 - 14:00 </strong>
                                            <span>Namaré</span>
                                        </div>
                                        <button class="btn btn-transparent color-dark-blue button-ellipsis"><i class="fa-solid fa-ellipsis button-ellipsis"></i></button>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <script>
        const {
            createApp
        } = Vue
    
        createApp({
            data() {
                return {
                    days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    days_english: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    botes: [],
                    today: new Date(),
                    cant_days_month: 0,
                    first_day: '',
                    position: 9999,
                    show_day: false
                }
            },
            created() {
                // this.getBarcos()
                this.startMonth()
            },
            methods: {
                getBarcos() {
                    let url = 'https://rutaapp.com/boats/wp-content/themes/twentytwentytwo/ReservaController.php'
                    axios.get(url).then(res => {
                        console.log('barcos ==> ', res.data)
                        this.botes = res.data.botes
                    })
                },
                daysByMont(mes, anio) {
                    return new Date(anio, mes, 0).getDate();
                },
                startMonth(){
                    let year = this.today.getFullYear()
                    let month = this.today.getMonth() + 1
                    this.first_day = new Date(this.today.getFullYear() + '-' + (parseInt(this.today.getMonth()) + 1) + '-' + '1').toDateString().substring(0,3)
                    this.days_english.forEach((ele, index) => {
                        if(ele == this.first_day) {
                            this.position = index
                        }
                    });

                    this.cant_days_month = this.daysByMont(month, year)
                    console.log('position ==> ', this.position)
                    // console.log('cant_days_month ==> ', this.cant_days_month);
                    // console.log('first_day ==> ', this.first_day);
                    // console.log('position ==> ', this.position);
                },
                start_day(index){
                    // this.startMonth()
                    let response = false
                    if(this.show_day == false) {
                        if(index >= this.position) {
                            this.show_day = true
                            response = true
                        }else{
                            response = false
                        }
                    }else{
                        response = true
                    }
                    if(index == 6) {
                        this.show_day = false
                    }
                    console.log('respose ==> ', this.show_day)
                    return response
                }
            },
        }).mount('#app')
    </script>